# .env example - copy to .env and fill values
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=perwira_curfew_system

FLASK_ENV=development
SECRET_KEY=dev-secret-key

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=aaranianbalagan@gmail.email
EMAIL_PASS=qpgdkozmkijrqrrw